main {
    min-height: 80vh;
}

.rating span{
    margin: 0.1rem;
}

h3{
    padding: 1rem 0;
}

h1{
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2{
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.link {
    color: #000000;
}

.link:hover {
    color: rgb(0, 0, 0)
}

.link-active {
    color: #ffffff;
}

.link-active:hover {
    color: rgb(255, 255, 255)
}